In [4]:
import pandas as pd
import numpy as np

In [24]:
world = pd.read_csv(r'owid-covid-data.csv') #delete this?
pd.set_option('display.max_columns', 50000)

In [25]:
world.drop(world.iloc[:, 5:66], axis = 1, inplace = True)
world.drop(world.iloc[:, 0:2], axis = 1, inplace = True)

In [26]:
world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216106 entries, 0 to 216105
Data columns (total 4 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   location                                 216106 non-null  object
 1   date                                     216106 non-null  object
 2   total_cases                              206944 non-null  float64
 3   excess_mortality_cumulative_per_million  7271 non-null    float64
dtypes: float64(2), object(2)
memory usage: 6.6+ MB

In [27]:
world.drop('excess_mortality_cumulative_per_million', axis = 1, inplace = True)

In [37]:
grouped_df = world.groupby("location")

In [44]:
maximums = grouped_df.max()
maximums = maximums.reset_index()

In [79]:
B = maximums.nlargest(20, 'total_cases')

In [80]:
B

                location        date  total_cases
240                World  2022-09-14  609031330.0
92           High income  2022-09-14  370217364.0
68                Europe  2022-09-14  225317247.0
11                  Asia  2022-09-14  182323509.0
69        European Union  2022-09-14  165147163.0
231  Upper middle income  2022-09-14  141968089.0
157        North America  2022-09-14  113067587.0
229        United States  2022-09-12   95320071.0
125  Lower middle income  2022-09-14   94912027.0
201        South America  2022-09-14   63730010.0
97                 India  2022-09-14   44502363.0
74                France  2022-09-14   34784890.0
29                Brazil  2022-09-14   34533957.0
79               Germany  2022-09-14   32507180.0
202          South Korea  2022-09-14   24099134.0
228       United Kingdom  2022-09-12   23554519.0
105                Italy  2022-09-14   22054443.0
107                Japan  2022-09-12   20209163.0
179               Russia  2022-09-14   19820622.0
221               Turkey  2022-09-14   16852382.0